*{
  box-sizing: border-box;
}
body{
    padding: 10px;
    font-family: 'Montserrat';
    font-size:  20px;
}
#factList{
    cursor: pointer;
}

input{
    margin-top: 7px;
    border-radius: 4px;
    font-size: 15px;
    height: 25px;
}
